.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
.DS_Store
android/local.properties
android/key.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.env
.env.*
!.env.example
